<header class="masthead">
<div class="container">
  <div class="intro-text">
    <div class="intro-lead-in">Dobrodošli!</div>
    <div class="intro-heading text-uppercase">Nepremicnine.net</div>
    <% if current_user %>
      <%= link_to("Objavi oglas", new_estate_path, class: "btn btn-primary btn-xl text-uppercase js-scroll-trigger") %>
    <% else %>
      <%= link_to("Prijava", new_user_session_path, class: "btn btn-primary btn-xl text-uppercase js-scroll-trigger") %>
    <% end %>
  </div>


</div>
</header>
