<header class="masthead">
<div class="container">
  <div class="intro-text">
    <div class="intro-lead-in">Dobrodošli!</div>
    <div class="intro-heading text-uppercase">Nepremicnine.net</div>
    <%= link_to("Objavi oglas", new_estate_path, class: "btn btn-primary btn-xl text-uppercase js-scroll-trigger") %>

  </div>
</div>
</header>
