<header class="masthead">
<div class="container">
  <div class="intro-text">
    <div class="intro-lead-in">Dobrodošli!</div>
    <div class="intro-heading text-uppercase">Nepremicnine.net</div>
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Objavi oglas</a>
  </div>
</div>
</header>