// Place all the styles related to the Estates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-align {
    margin: 0 auto !important;
}

.miza {
    width: 80% !important;
    text-align: center !important;
    margin: 0 auto !important;
  }

.thumbnail {
    width: 300px;
}

.cell {
    width: 190px !important; 
    height: 50px;
}

#edit {
    width: 50px !important;
}

.img {
    width: 650px !important;
    margin: 0 auto !important;
}